parameters:
	ignoreErrors:
		-
			message: '#^Casting to string something that''s already string\.$#'
			identifier: cast.useless
			count: 1
			path: src/Controller/FormController.php

		-
			message: '#^Left side of \|\| is always false\.$#'
			identifier: booleanOr.leftAlwaysFalse
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|string\)\: mixed\)\|null, Closure\(string\)\: array\{string, string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Document/Areabrick/Form.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Builder\:\:field\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Builder.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Builder\:\:getType\(\) should return class-string<Symfony\\Component\\Form\\FormTypeInterface> but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Form/Builder.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|string\)\: mixed\)\|null, Closure\(string\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Builder.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|string\)\: mixed\)\|null, Closure\(string\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Extension/FormAttributeExtension.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\FormErrorNormalizer\:\:normalize\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\FormErrorNormalizer\:\:normalize\(\) return type with generic class ArrayObject does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ButtonTransformer\:\:transform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Transformer/ButtonTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ChoiceTransformer\:\:transform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Transformer/ChoiceTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ChoiceTransformer\:\:transformMultiple\(\) has parameter \$choices with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Form/Transformer/ChoiceTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ChoiceTransformer\:\:transformMultiple\(\) has parameter \$titles with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Form/Transformer/ChoiceTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ChoiceTransformer\:\:transformSingle\(\) has parameter \$choices with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Form/Transformer/ChoiceTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\ChoiceTransformer\:\:transformSingle\(\) has parameter \$titles with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Form/Transformer/ChoiceTransformer.php

		-
			message: '#^Method Valantic\\PimcoreFormsBundle\\Form\\Transformer\\FileTransformer\:\:transform\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Transformer/FileTransformer.php

		-
			message: '#^Return type \(string\|null\) of method Valantic\\PimcoreFormsBundle\\Model\\AbstractMessage\:\:key\(\) should be covariant with return type \(string\) of method Iterator\<string,mixed\>\:\:key\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Model/AbstractMessage.php

