includes:
	- phpstan-baseline.neon

parameters:

    level: 8

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    treatPhpDocTypesAsCertain: false

    strictRules:
        booleansInConditions: false
        disallowedConstructs: false
        noVariableVariables: false
