parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Left side of \\|\\| is always false\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^PHPDoc tag @var for variable \\$builder has no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/Builder.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Form/Extension/FormConstraintExtension.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\FormErrorNormalizer\\:\\:normalize\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\FormErrorNormalizer\\:\\:normalize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\FormErrorNormalizer\\:\\:normalize\\(\\) return type with generic class ArrayObject does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Parameter \\#1 \\$error of method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\FormErrorNormalizer\\:\\:getErrorMessage\\(\\) expects Symfony\\\\Component\\\\Form\\\\FormError, Symfony\\\\Component\\\\Form\\\\FormError\\|Symfony\\\\Component\\\\Form\\\\FormErrorIterator given\\.$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Symfony\\\\Contracts\\\\Translation\\\\TranslatorInterface will always evaluate to false\\.$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Form/FormErrorNormalizer.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\RedirectHandler\\\\AbstractRedirectHandler\\:\\:initialize\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/RedirectHandler/AbstractRedirectHandler.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\Transformer\\\\ButtonTransformer\\:\\:transform\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Transformer/ButtonTransformer.php

		-
			message: "#^Parameter \\#4 \\$widget of method Limenius\\\\Liform\\\\Transformer\\\\AbstractTransformer\\:\\:addCommonSpecs\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Form/Transformer/ButtonTransformer.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Form\\\\Transformer\\\\FileTransformer\\:\\:transform\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Transformer/FileTransformer.php

		-
			message: "#^Parameter \\#4 \\$widget of method Limenius\\\\Liform\\\\Transformer\\\\AbstractTransformer\\:\\:addCommonSpecs\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Form/Transformer/FileTransformer.php

		-
			message: "#^Method Valantic\\\\PimcoreFormsBundle\\\\Service\\\\FormService\\:\\:errors\\(\\) should return array but returns array\\|ArrayObject\\|bool\\|float\\|int\\|string\\|null\\.$#"
			count: 1
			path: src/Service/FormService.php

