includes:
	- phpstan-baseline.neon

parameters:

    level: 8

    ignoreErrors:
        - '#return type has no value type specified in iterable type Symfony\\Component\\Form\\FormInterface#'
        - '#return type has no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface#'
        - '#with no value type specified in iterable type Symfony\\Component\\Form\\FormInterface#'
        - '#type has no value type specified in iterable type Symfony\\Component\\Form\\FormInterface#'

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php
