includes:
	- phpstan-baseline.neon

parameters:
    paths:
        - src

    level: 8

    bootstrapFiles:
        - vendor/pimcore/pimcore/stubs/dynamic-constants.php

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            identifiers:
                   - ternary.shortNotAllowed
                   - empty.notAllowed
                   - property.dynamicName
